# =============== #
# Unity generated #
# =============== #
ROOPE/Temp/
ROOPE/obj/
ROOPE/Build/
ROOPE/Library/
ROOPE/sysinfo.txt
ROOPE/*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ROOPE/[Ee]xported[Oo]bj/
ROOPE/.vs/
ROOPE/*.userprefs
ROOPE/*.csproj
ROOPE/*.pidb
ROOPE/*.suo
ROOPE/*.sln*
ROOPE/*.user
ROOPE/*.unityproj
ROOPE/*.booproj
 
# ============ #
# OS generated #
# ============ #
ROOPE/.DS_Store*
ROOPE/._*
ROOPE/.Spotlight-V100
ROOPE/.Trashes
ROOPE/Icon?
ROOPE/ehthumbs.db
ROOPE/Thumbs.db
ROOPE/Desktop.ini